@import "../../assets/styles/theme.scss";

.template-tasks-wrapper {
  @include page-wrapper;

  #left {
    float: left;
    width: 33%;
    overflow: hidden;
  }

  #center {
    float: left;
    width: 33%;
    overflow: hidden;
  }

  #right {
    overflow: hidden;
  }
}
