@import "../../assets/styles/theme.scss";

.home-wrapper {
  @include page-wrapper;

  > img {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 30px;
    margin-right: 30px;

    max-width: 200px;
    max-height: 200px;
  }

  > section {
    flex: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1.75rem;
    align-content: center;
  }
}

.div-templates-container {
  margin-left: 130px;
  margin-top: 35px;
}

.list-templates {
  display: flex;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, 350px);
  width: 100%;
  padding: 1rem 0;

  > p {
    margin-top: 10px;
  }
}

.card-template {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  min-height: 80px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 2px 5px 5px 0px rgba(87, 87, 87, 0.3);

  .name {
    width: 100%;
    font-size: 20px;
    padding: 0.5rem 0.5rem;
    text-align: center;
    color: gray;
    font-weight: 600;
  }

  > .description {
    padding: 0.5rem 1rem;
    color: dimgrey;
  }
}

.div-cards {
  margin-left: 130px;
  margin-top: 20px;
  overflow: none;

  > h2 {
    font-weight: 200;
  }
}
