@import "../../assets/styles/theme.scss";

.home-wrapper {
  @include page-wrapper;
  background: $secondary-clr;
  height: 100%;
  width: 100%;

  > .content {
    padding-left: 110px;
    display: flex;
    flex-direction: column;

    > h2 {
      font-size: 36px;
      font-weight: 200;
      text-align: left;
    }
  }
}
