@import "../../assets/styles/theme.scss";

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    background: $secondary-clr;
    height: 100%;
    width: 100%;

    > h2 {
        font-size: 36px;
        font-weight: 200;
        text-align: left;
      }
    
}