@import "../../assets/styles/theme.scss";

.template-tasks-wrapper {
  @include page-wrapper;
  padding-left: 150px;
  padding-right: 20px;
  font-family: "Roboto", sans-serif;
  background-color: #fff;

  .template-info {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
    margin-top: 35px;
    h1 {
      font-size: 50px;
      width: max-content;
      display: flex;

      .btn-group {
        right: 0;
        top: 7px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0 1rem;

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 20px;
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 2px;
          background-color: transparent;
          line-height: 15px;
          transition: all ease 0.2s;
          &:hover {
            border-radius: 25px;
            background-color: #dddddd;
            box-shadow: 0 0 0px 2px #dddddd;
          }
          &:focus {
            box-shadow: none;
          }
          &:first-of-type {
            padding-bottom: 5px;
          }
        }
      }
    }
    p {
      font-weight: bold;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .kanban-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100% - 230px);
    overflow: hidden;
    padding-left: 2rem;
    padding-top: 35px;
    max-width: 1425px;

    .column {
      flex: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-top: 1rem;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        border-left: 2px solid black;
      }

      .title {
        position: absolute;
        top: -32px;
        left: -20px;
        font-size: 22px;
        letter-spacing: 1px;
        color: rgba(0, 0, 0, 0.7);
      }

      &.to-do ul.list-tasks > li.item {
        background-color: #ffd3d3;
      }
      &.doing ul.list-tasks > li.item {
        background-color: #c8e4ff;
      }
      &.completed ul.list-tasks > li.item {
        background-color: #daffd3;
      }
    }
  }

  .kanban-wrapper ul.list-tasks {
    padding: 0 1rem;
    padding-right: 2.5rem;
    width: 100%;

    > li.item {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 2rem 1.5rem;
      padding-top: 0.5rem;
      font-size: 20px;
      background-color: rgba(0, 0, 0, 0.335);
      border-radius: 15px;
      margin-bottom: 1rem;
      word-break: break-all;

      .btn-group {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin-bottom: 0.5rem;
        padding: 0 0.5rem;
        transform: translateX(25px);

        button {
          width: 40px;
          height: 20px;
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 2px;
          background-color: transparent;
          line-height: 15px;
          transition: all ease 0.2s;
          &:focus {
            box-shadow: none;
          }
          &:hover {
            border-radius: 25px;
            filter: brightness(40%);
            background-color: rgba(255, 255, 255, 0.226);
          }
          &:first-of-type {
            padding-bottom: 5px;
          }
        }
      }
    }
  }

  section {
    > .body {
      .title-modal-delete {
        text-align: center;
        font-size: 19px;
      }
    }

    footer {
      display: grid;
      grid-template-columns: 1rem 1rem;

      .btn-left {
        height: 50px;
        width: 100%;
        background-color: lightblue;
        margin-right: 1rem;
        color: white;
        font-weight: 600;
        font-size: 17px;
        border: none;

        transition: background 0.2s;
      }

      .btn-left:hover {
        background: rgb(125, 192, 214);
      }

      .btn-right {
        height: 50px;
        width: 100%;
        background-color: rgb(241, 141, 141);
        color: white;
        font-weight: 600;
        font-size: 16px;

        transition: background 0.2s;
      }

      .btn-right:hover {
        background: rgb(230, 110, 110);
      }
    }
  }
}
