@import "../../assets/styles/theme.scss";

.base-button {
  width: 100%;
  max-width: 250px;
  min-width: max-content;
  height: 42px;
  border-radius: 9999px;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  background-color: $primary-clr;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease;
  align-self: center;
  &:hover {
    background-color: #ff9393;
    transform: scale(1.03);
  }
}
