@import "../../assets/styles/theme.scss";

.base-button {
  width: 100%;
  max-width: 250px;
  min-width: max-content;
  height: 42px;
  border-radius: 9999px;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  background-color: $primary-clr;
  &:hover {
    background-color: #ff9393;
  }
}
