$primary-clr: #ff8484;
$secondary-clr: #fffbeb;

@mixin page-wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  animation: pageFadeIn 0.7s;
}

@keyframes pageFadeIn {
  from {
    transform: translateY(-10%);
    height: 150vh;
  }
  to {
    height: 100vh;
    transform: translateY(0);
  }
}
